[submodule "3_backend"]
	path = 3_backend
	url = https://github.com/TennisKim/3_backend.git
[submodule "4_backend"]
	path = 4_backend
	url = https://github.com/TennisKim/4_backend.git
[submodule "5_backend"]
	path = 5_backend
	url = https://github.com/TennisKim/5_backend.git
[submodule "newsubmodule/5_backend"]
	path = newsubmodule/5_backend
	url = https://github.com/TennisKim/5_backend.git
	branch = master
